POSTGRES_DB=smart_package
POSTGRES_USER=smartpackage
POSTGRES_PASSWORD=change_me

CLOUDFLARE_TUNNEL_TOKEN=change_me
DASHBOARD_ADMIN_USERNAME=admin
DASHBOARD_ADMIN_PASSWORD=replace_with_a_strong_password
