# ==============================
# ESP-IDF
# ==============================
firmware-esp32/build/
firmware-esp32/sdkconfig.old
firmware-esp32/managed_components/


# ==============================
# Spring Boot / Maven
# ==============================
smart_package_backend/target/


# ==============================
# Web Dashboard / Node.js
# ==============================
web-dashboard/node_modules/
web-dashboard/dist/
web-dashboard/.env
web-dashboard/.env.local


# ==============================
# Flutter - future
# ==============================
mobile-flutter/build/
mobile-flutter/.dart_tool/


# ==============================
# IDE
# ==============================
.idea/
.vscode/
*.iml


# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db


# ==============================
# Logs
# ==============================
*.log


# ==============================
# Secrets
# ==============================
.env
.env.*
!.env.example
*.local